.list-container {
  display: flex;
  justify-content: center;
}
.list {
  list-style: none;
}

.list-item {
  margin-bottom: 50px;
  &:last-child {
    margin-bottom: 0;
  }
}
.hide-item {
  display: none;
}
