.item {
  display: flex;
  font-family: 'Varela Round', sans-serif;
  background-color: rgb(245, 245, 245);
  margin: 20px -20px 0 -20px;
  padding: 20px;
}
.header {
  width: 100%;
  max-width: 150px;
  flex-shrink: 0;
  margin-right: 30px;

  h5 {
    font-size: 1.2rem;
    margin-bottom: 7px;
  }

  h6 {
    font-size: 1rem;
    margin-bottom: 2px;
  }
}
.desc {
  padding: 0 50px 0 0;
}
